body {
  font-family: Georgia, serif;
  background-color: #fff2e6;
}

header {
  height: 40vh;
  align-content: space-between;
  border-bottom-style: outset;
  border-color: darkbrown;
  border-width: 2px;
  background-color: #e3ccb5;
}

a {
  color: black;
  text-decoration: none
}

img {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-align: right;
  color: darkbrown;
  top: 15vh;
  right: 50vw;
  position: absolute;

}

footer {
  text-align: center;
}